.thumbnail-preview {
	display: inline-block;
	font-size: 0px;
	margin: 0px 5px 2px 9px;
	overflow: hidden;
	width: 70px;

	&.self {
		height: 50px;
		background-image: url('/assets/images/sprite-reddit.png');
		background-position: 0px -491px;
		background-repeat: no-repeat;
	}
}

.main-logo {
	background: url('/assets/images/sprite-reddit.png') no-repeat -2px -313px;
	width: 112px;
	height: 40px;
}

.thumbnail-self {}