<span class="hover pagename redditname">
	{{link-to currentSub "subreddit.index" currentSub}}
</span>
<ul class="tabmenu">
	<li>{{link-to "comments" "comments" currentSub postThing.data.id}}</li>
	<li>{{link-to "related" "related" currentSub postThing.data.id}}</li>
</ul>