<div id="siteTable" class="sitetable linklisting">
	{{#each thing in model.children}}
		{{render "thing" thing}}
	{{else}}
		<p id="noresults" class="error">theredoesn't seem to be anything here</p>
	{{/each}}

	<div class="nav-buttons">
		<span class="nextprev">
			view more:
			{{#if hasBefore}}
				{{!-- find a better way to deal with isFrontpage link-to's --}}
				{{!-- this should really just look at the current route, so we keep state with :sort --}}
				{{#if isFrontpage}}
					{{#link-to 'application' (query-params count=prevCount before=model.before)}}‹ prev{{/link-to}}
				{{else}}
					{{#link-to 'subreddit' currentSub (query-params count=prevCount before=model.before)}}‹ prev{{/link-to}}
				{{/if}}
			{{/if}}
			{{#if hasAfter}}
				{{#if isFrontpage}}
					{{#link-to 'application' (query-params count=nextCount after=model.after)}}next ›{{/link-to}}
				{{else}}
					{{#link-to 'subreddit' currentSub (query-params count=nextCount after=model.after)}}next ›{{/link-to}}
				{{/if}}
			{{/if}}
		</span>
		<span class="next-suggestions">
			or try a {{#link-to 'subreddit' 'random'}}random subreddit{{/link-to}}
		</span>
	</div>
</div>