<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="" class="navbar-brand">Ember Reddit</a>
		</div>
	</div>
	<ul class="nav navbar-nav">
		{{#each item in model}}
			<li>{{#link-to 'subreddit' item}}{{item}}{{/link-to}}</li>
		{{/each}}
	</ul>
</nav>

{{outlet}}
