<div id="header">
	<div id="sr-header-area">
		todo: my subreddits
	</div>
	<div id="header-bottom-left">
		{{link-to "reddit.com" "application" id="header-img" class="default-header"}}
		{{outlet "tabmenu"}}
	</div>
</div>

<div class="side">
	todo: side panel
</div>

<div class="content" role="main">
	{{outlet}}
</div>

<div class="footer-parent">
	<div class="footer rounded">
		<div class="col">
			<ul class="flat-vert hover">
				<li class="flat-vert title">about</li>
				<li><a href="http://www.reddit.com/blog/" class="choice">blog</a></li>
				<li><span class="separator"></span><a href="http://www.reddit.com/about/" class="choice">about</a></li>
				<li><span class="separator"></span><a href="http://www.reddit.com/about/team/" class="choice">team</a></li>
				<li><span class="separator"></span><a href="http://www.reddit.com/code/" class="choice">source code</a></li>
				<li><span class="separator"></span><a href="http://www.reddit.com/advertising/" class="choice">advertise</a></li>
				<li><span class="separator"></span><a href="http://www.reddit.com/r/redditjobs/" class="choice">jobs</a></li>
			</ul>
		</div>
		<div class="col">
			<ul class="flat-vert hover">
				<li class="flat-vert title">help</li>
				<li><a href="http://www.reddit.com/wiki/" class="choice">wiki</a></li>
				<li><span class="separator"></span><a href="http://www.reddit.com/wiki/faq" class="choice">FAQ</a></li>
				<li><span class="separator"></span><a href="http://www.reddit.com/wiki/reddiquette" class="choice">reddiquette</a></li>
				<li><span class="separator"></span><a href="http://www.reddit.com/rules/" class="choice">rules</a></li>
				<li><span class="separator"></span><a href="http://www.reddit.com/contact/" class="choice">contact us</a></li>
			</ul>
		</div>
		<div class="col">
			<ul class="flat-vert hover">
				<li class="flat-vert title">tools</li>
				<li><a href="http://i.reddit.com" class="choice">mobile</a></li>
				<li><span class="separator"></span><a href="https://addons.mozilla.org/firefox/addon/socialite/" class="choice">firefox extension</a></li>
				<li><span class="separator"></span><a href="https://chrome.google.com/webstore/detail/algjnflpgoopkdijmkalfcifomdhmcbe" class="choice">chrome extension</a></li>
				<li><span class="separator"></span><a href="http://www.reddit.com/buttons/" class="choice">buttons</a></li>
				<li><span class="separator"></span><a href="http://www.reddit.com/widget/" class="choice">widget</a></li>
			</ul>
		</div>
		<div class="col">
			<ul class="flat-vert hover">
				<li class="flat-vert title">&lt;3</li>
				<li><a href="http://www.reddit.com/gold/about/" class="buygold choice">reddit gold</a></li>
				<li><span class="separator"></span><a href="http://www.reddit.com/store/" class="choice">store</a></li>
				<li><span class="separator"></span><a href="http://redditgifts.com" class="choice">redditgifts</a></li>
				<li><span class="separator"></span><a href="https://redditama.reddit.com" class="choice">reddit AMA app</a></li>
				<li><span class="separator"></span><a href="http://reddit.tv" class="choice">reddit.tv</a></li>
				<li><span class="separator"></span><a href="http://radioreddit.com" class="choice">radio reddit</a></li>
			</ul>
		</div>
	</div>
	<p class="bottommenu">By encrypter8 with love, for reddit.com, r/emberjs, and r/redditdev</p>
</div>